    </body>
    <br>
    <br>
    <footer>
        <table style="width: 100%;">
            <tr class="footA">
                <th>Contact Us</th>
                <th>About Us</th>
                <th>Support</th>
            </tr>
            <br>
            <tr class="footB">
                <th>Privacy</th>
                <th>Legal</th>
                <th>Terms</th>
            </tr>
        </table>
    </footer>
</html>